@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Rubik&display=swap');
$redColor: hsl(0, 94%, 66%);
$blueColor: hsl(231, 69%, 60%);
$textColor: hsl(229, 8%, 60%);
:root{
  --opacity--left: 1;
  --opacity--rigth: 0;
}
@mixin text-style($color,$text-align,$width) {
  color:  $color;
  text-align: $text-align;
  width: $width;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'rubik';
}
main{
  width: 100%;
  height: auto;
  
}
header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 80px;
}
.left-header{
  position: relative;
  right: 120px;
}
.right-header{
  display: flex;
  column-gap: 25px;
  .btn-header{
    background-color: transparent;
    border: none;
    font-family: 'Rubik';
    cursor: pointer;
    transition: 0.2s;
  &:hover{
    color: $redColor;
    transition: 0.2s;
  }
  }
  .login{
    border: 2px solid $redColor;
    background-color: $redColor;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 85px;
    font-size: 13px;
    transition: 0.2s;
    &:hover{
      transition: 0.2s;
      color: $redColor;
      background-color: white;
    }
  }
}
.firstContent{
  display: flex;
  justify-content: center;
  column-gap: 35px;
  .left-bm{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    row-gap: 20px;
    #titleFirstContent{
      font-size: 45px;
      width: 403px;
      color: rgb(43, 43, 43);
      margin: 0;
    }
    #textFirstContent{
      margin: 0;
      font-size: 18px;
      @include text-style($textColor, start, 450px)
    }
    .btn-bm{
      width: auto;
      height: auto;
      display: flex;
      column-gap: 15px;
      #btn-bm-left{
        border: 2px solid $blueColor;
        background-color: $blueColor;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        height: 2.2rem;
        width: 8.8rem;
        font-family: 'Rubik';
        cursor: pointer;
        transition: 0.2s;
        padding: 0px 5px;
        &:hover{
          background-color: transparent;
          color: $blueColor;
          transition: 0.2s;
        }
      }
      #btn-bm-right{
        color: hsl(229, 7%, 51%);
        border: 2px solid rgb(248, 248, 248);
        background-color: rgb(248, 248, 248);
        border-radius: 5px;
        height: 2.2rem;
        width: 8.8rem;
        font-family: 'Rubik';
        box-shadow: 0px 5px 4px -3px rgb(211, 211, 211);
        cursor: pointer;
        transition: 0.2s;
        padding: 0px 5px;
        &:hover{
          padding: 5px 5px;
          transition: 0.2s;
          background-color: transparent;
          box-shadow: none;
          color: black;
          border: 2px solid rgb(0, 0, 0);
        }
      }
    }
  }
  .right-bm{
    width: auto;
    height: auto;
    #img-ilust{
      width: 34.5rem;
      height: auto;
    }
  }
}
.secondContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  #titleSecondContent{
    font-size: 30px;
    font-family: 'rubik';
    color: rgb(43, 43, 43);
    text-align: center;

  }
  #textSecondContent{
    @include text-style($textColor, center, 460px)
  }
}
.div-btn-ft{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 55px;
  position: relative;
  right: 25px;
  .btn-ft{
    border: 0px solid transparent;
    background-color: transparent;
    color: $textColor;
    font-size: 16px;
    cursor: pointer;
    padding: 0px 5px;
    &:hover{
      color: $redColor;
    } 
  } 
}
#btn-ft-3{
  position: relative;
  left: 18px;
}
.linha{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .btnLinha{
    width: 200px;
    height: auto;
    border: 0px solid transparent;
    border-bottom: 2px solid rgb(225, 223, 223);
    background-color: transparent;
  }
}
.activated{
  width: 200px;
  height: auto;
  border: 0px solid transparent;
  border-bottom: 3px solid red;
  background-color: transparent;
  cursor: pointer;
}
.txt{
  display: flex;
  justify-content: center;
  column-gap: 80px;
  margin-top: 50px;
  .divRightEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    #titleEvent{
      font-size: 30px;
      font-family: 'rubik';
    }
    #textEvent{
      @include text-style($textColor, start, 400px)
    }
    #btnInfo{
      border: 2px solid $blueColor;
        background-color: $blueColor;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        height: 2.2rem;
        width: 6rem;
        font-family: 'rubik';
        cursor: pointer;
        margin-top: 12px;
        transition: 0.2s;
        padding: 0px 5px;
        &:hover{
          background-color: transparent;
          color: $blueColor;
          transition: 0.2s;
        }
    }
  }
}
#imgLeftEvent{
  width: 25rem;
}

.thirdContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  #titleThirdContent{
    font-size: 26px;
    font-family: 'Rubik';
  }
  #textThirdContent{
    @include text-style($textColor, center, 500px)
  }
  .divCards{
    display: flex;
    gap: 40px;
    #secondCard{
      position: relative;
      top: 40px; 
    }
    #thirdCard{
      position: relative;
      top: 80px;
    }
    .cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 13rem;
      height: 16rem;
      margin-top: 40px;
      border: 2px solid rgb(248, 248, 248);
      background-color: rgb(248, 248, 248);
      row-gap: 5px;
      border-radius: 10px;
      box-shadow: 0px 5px 10px -3px rgb(197, 204, 226);
      .imgCards{
        width: 4.5rem;
      }
      .titleCards{
        font-size: 14px;
        font-family: 'Rubik';
      }
      .textCards{
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
        font-family: 'Rubik';
        @include text-style($textColor, center, auto)
      }
      .dots{
        width: 100%;
        margin: 10px;
      }
      .btnCards{
        border: 2px solid $blueColor;
        background-color: $blueColor;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        height: 2.2rem;
        width: 85%;
        font-family: 'Rubik';
        cursor: pointer;
        padding: 5px;
        transition: 0.2s;
        padding: 0px 5px;
        &:hover{
          background-color: transparent;
          color: $blueColor;
          transition: 0.2s;
        }
      }
    }
  }
}
.fourthContent{
  display: flex;
  align-items: center;
  margin-top: 180px;
  flex-direction: column;
  height: auto;
  #titleFourthContent{
    font-size: 28px;
    font-family: 'Rubik';
  }
  #textFourthContent{
    font-family: 'Rubik';
    font-size: 17px;
    @include text-style($textColor, center, 500px)
  }
  .questions{
    display: flex;
    flex-direction: column;
    width: 28rem;
    .boxQuestions{
      width: 100%;
    }
    .btnQuestions{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border: none;
      background-color: transparent;
      border-top: 1px solid rgb(225, 225, 225);
      border-bottom: 1px solid rgb(225, 225, 225);
      cursor: pointer;
      .leftArrow{
        position: relative;
        left: 34px;
        opacity: var(--opacity--left);
      }
      .rigthArrow{
        opacity: var(--opacity--rigth);
      }
    }
    .titleQuestion{
      font-family: 'rubik';
      font-size: 17px;
      &:hover{
        color: $redColor;
      }
    }
    .paragraph{
      font-size: 13px;
      word-spacing: 1px;
      line-height: 1.59rem;
      padding-left: 2px;
      font-family: "rubik";
      @include text-style(rgb(130, 130, 130), start, auto)
    }
  }
  #moreInfo{
    border: 2px solid $blueColor;
      background-color: $blueColor;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      height: 2.2rem;
      width: 6rem;
      font-family: 'Rubik';
      cursor: pointer;
      margin-top: 48px;
      margin-bottom: 120px;
      padding: 0px 5px;
      transition: 0.2s;
      &:hover{
        background-color: transparent;
        color: $blueColor;
        transition: 0.2s;
      }
  }
}
#secondSection{
  background-color: $blueColor;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .contentSecondSection{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  #firstTextSecondSection, #secondTextSecondSection{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  #firstTextSecondSection{
    font-family: 'garamond';
    font-size: 1.5rem;
  }
  #secondTextSecondSection{
    font-size: 26px;
    width: 85%;
    margin-top: 10px;
    font-family: 'rubik';
  }
  .btnSecondSection{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    #email{
      width: 250px;
      height: 25px;
      border: 2px solid transparent;
      border-radius: 4px;
      padding: 6px 15px;
      font-family: 'rubik';
      box-shadow: 0 0 0 0;
      position: relative;
      &:focus{
        outline-style: none;
      }
      &::placeholder{
        color: $textColor;
      }
      &:valid{
        border: none;
        border-style: solid;
        border-color: rgb(4, 174, 4);
        color: rgb(0, 0, 0);
      }
      &:valid + span::before{
        content: '✓';
        color: rgb(4, 174, 4);
        position: relative;
        right: 2rem;
        top: 0.45rem;
        margin: -8px;
      }
    }
    #contactUs{
      background-color: $redColor;
      color: rgb(255, 255, 255);
      border: 2px solid $redColor;
      border-radius: 4px;
      width: 6rem;
      padding: 10px;
      font-size: 12px;
      font-family: 'rubik';
      cursor: pointer;
      transition: 0.3s;
      padding: 0px 5px;
      &:hover{
        background-color: rgb(255, 252, 252);
        color: $redColor;
        transition: 0.3s;
      }
    }
  }
}
.secondContentSecondSection{
  display: flex;
  background-color: hsl(229, 31%, 21%);
  justify-content: space-around;
  .leftFooter{
    display: flex;
    column-gap: 25px;
    position: relative;
    right: 3.5rem;
    .imgLeftFooter{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      color: rgb(255, 255, 255);
    }
  }
  .midFooter{
    display: flex;
    column-gap: 40px;
    position: relative;
    right: 3.2rem;
    .textLeftFooter{
      color: rgb(255, 255, 255);
      font-family: 'rubik';
      cursor: pointer;
      padding: 0px 5px;
      &:hover{
        transition: 0.2s;
        color: $textColor;
      }
    }
  }
  .rigthFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    transition: 0.2s;
    :hover{
      cursor: pointer;
      transition: 0.2s;
      filter: invert(50%);
    }
  }
}
.headerHamburguer{
  opacity: 0;
}
@media(max-width: 1025px){
  header{
    justify-content: space-around;
    .left-header{
      position:initial ;
    }
  }
  .firstContent{
    column-gap: 0;
    .right-bm #img-ilust {
      width: 30rem;
  }
  }
}
@media(max-width: 930px){
  .firstContent{
    flex-direction: column-reverse;
    align-items: center;
    .left-bm {
      align-items: center;
      row-gap: 35px;
      #titleFirstContent{
        width: auto;
        text-align: center;
      }
      #textFirstContent{
        text-align: center;
        width: 80%;
      }
      .btn-bm{
        align-items: center;
        justify-content: center;
      }
    }
  }
  .txt{
    flex-direction: column;
    align-items: center;
    .divRightEvent {
      align-items: center;
      row-gap: 30px;
      #textEvent{
        text-align: center;
        width: 450px;
      }
      #btnInfo{
        width: 250px;
      }
    }
  }
  .secondContentSecondSection{
    .leftFooter{
      position: initial;
    } 
  }
  .fourthContent{
    #moreInfo{
      width: 250px;
    }
  }
}
@media (max-width: 700px){
  .divCards{
    flex-direction: column;
  }
}
@media (max-width: 620px){
  header{
    opacity: 0;
    position: absolute;
    margin: 0;
    position: relative;
    right: 100px;
  }
  .headerHamburguer{
    opacity: 1;
    margin-bottom: 4em;
    display: flex;
    width: 100%;
    justify-content: space-around;
    .left-header{
      position: initial;
    }
  }
  .firstContent .left-bm #titleFirstContent{
    width: 80%;
  }
  .firstContent .right-bm #img-ilust{
    width: 20rem;
  }
  .secondContent #textSecondContent{
    width: 85%;
  }
  .txt .divRightEvent #textEvent{
    width: 100%;
  }
  .div-btn-ft{
    position: initial;
    gap: 0;
    width: 25rem;
    margin: 0;
    display: flex;
  }
  .linha{
    display: flex;
    position: relative;
    left: 0.8em;
    width: 96%;
  }
  .linha > *{
    width: 100% !important;
  }
  .divLeftEvent{
    display: flex;
    justify-content: center;
    align-items: center;
    #imgLeftEvent{
      width: 90%;
    }
  }
  .thirdContent #textThirdContent{
    width: 90%;
  }
  .fourthContent #textFourthContent{
    width: 100%;
  }
  .fourthContent .questions{
    width: 95%;
  }
  .secondContentSecondSection{
    flex-direction: column;
    align-items: center;
    .midFooter{
      position: initial;
      flex-direction: column;
      text-align: center;
    }
  }
  .secondContentSecondSection .leftFooter .imgLeftFooter{
    position: relative;
    left: 60px;
    margin-top: 25px;
  }
  .secondContentSecondSection .rigthFooter{
    margin-bottom: 25px;
  }
}
@media (max-width: 425px){
  #secondSection .btnSecondSection {
    flex-direction: column;
    row-gap: 10px;
  }
  #secondSection .btnSecondSection #contactUs{
    width: 100%;
    height: 3em;
  }
  #secondSection .btnSecondSection #email:valid + span::before{
    left: 265px;
    right: 0;
    top: -44px;
  }
}